/* ----------------------------- */
/* Bakery CSS by Emeric Hochart  */
/* ----------------------------- */
body {
    background-color: black;
    background-image: url(./img/wesual-click-431380-unsplash.png);
    /* Photo by Wesual Click on Unsplash*/
    background-position: center;
    background-attachment: fixed;
    color: white;
}

/* Style hr */
hr { 
    background: url(./img/wheat-grain-close-up.png) no-repeat top center;
    /* Icon made by Ocha from www.flaticon.com */
    background-size: contain;    
    display: block;
    height: 28px;
    border: 0;
    position: relative;     
}
hr:before,
hr:after {
    content: '';
    display: block;
    position: absolute;
    background: white;
    height: 2px;
    top: 15px;     
}

@keyframes leftAnim {
    from {left: 35%;}
    to {left: 25%;}
  }
@keyframes rightAnim {
    from {right: 35%;}
    to {right: 25%;}
  }

hr:before {
    left: 25%;
    right: 50%;
    margin-right: 18px;
    animation-name: leftAnim;
    animation-duration: 2s;
}
hr:after {
    right: 25%;
    left: 50%;
    margin-left: 18px;
    animation-name: rightAnim;
    animation-duration: 2s;
}

h1,
h2 {
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    text-shadow: 2px 2px 5px black;
}

h1 {
    font-size: 4em;
}

ul {
    list-style: none;
}

address {
    color: white;
    text-shadow: 2px 2px 5px black;
}

a,
a:hover {
    color: white;
}

.information {
    color: white;
}

.headerText {
    margin: 30px;
}

/* Animation Box */
.box {
    background-color: black;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .8);
    margin: 0 0 35px 0;
    border-radius: 2px 34px;
}

.box:before {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    box-sizing: border-box;
    transition: 0.5s;
    transform: scaleX(0);
    opacity: 0;
    border-radius: 2px 34px;
}

.box:hover:before {
    transform: scaleX(1);
    opacity: 1;
}

.box:after {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    box-sizing: border-box;
    transition: 0.5s;
    transform: scaleY(0);
    opacity: 0;
    border-radius: 2px 34px;
}

.box:hover:after {
    transform: scaleY(1);
    opacity: 1;
}

.box img {
    width: 100%;
    transition: 0.5s;
}

.box:hover img {
    opacity: 0.2;
    transform: scale(1.1);
}

.box .content {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

.box .content h2 {
    margin: 0 0 10px;
    padding: 0;
    color: #fff;
    transition: 0.5s;
    transform: translateY(-50px);
    opacity: 0;
    visibility: hidden;
}

.box .content p,
ul {
    margin: 0;
    padding: 0;
    color: #fff;
    transform: translateY(50px);
    opacity: 0;
    visibility: hidden;
}

.box:hover .content h2,
.box:hover .content P,
.box:hover .content ul {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}

/* Animation Text */
.box:hover .popupcaption span {
    opacity: 0;
    transform: scale(0.95);
    animation: popOut 600ms cubic-bezier(0.175, 0.885, 0.320, 1.275) 1 forwards;
}

.popupcaption {
    transition: transform 600ms cubic-bezier(0.175, 0.885, 0.320, 1.275), opacity 100ms ease-in;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.popupcaption span {
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    z-index: 2;
    top: 10px;
    left: 44px;
    font-size: 35px;
    position: absolute;
    display: block;
    transform: skewY(-13deg);  
    animation: popIn 600ms cubic-bezier(0.175, 0.885, 0.320, 1.275) 1 forwards;
    opacity: 0;
    text-shadow: 2px 2px 5px black;
}

@keyframes popIn {

    0%,
    13% {
        transform: scaleX(.89) scaleY(.75);
        opacity: 0;
    }

    100% {
        transform: skewY(-13deg);
        opacity: 1;
    }
}

@keyframes popOut {

    0%,
    13% {
        transform: skewY(-13deg);
        opacity: 1;
    }

    100% {
        transform: scaleX(.89) scaleY(.75);        
        opacity: 0;
    }
}

.popupcaption span {    
    animation-delay: 600ms;
}